extends layout

block content
	.container
		.well.padding5
			h4 Edit your asset
	.container
		form(action='/assets/asset/id/', method='DELETE')
			.well.padding5
				h4 This cannot be undone
				p: button(type='submit').topcoat-button Delete asset