extends layout

block content
	.description
		.container
			h4 Welcome to the WebPayments Marketplace
			p: small: em This application is implemented using: Mozilla Persona, Payswarm.js
			- if (!user)
				p You should <a href="/login">sign up</a> for an account and give it a try
	.container
		br
		.category
			h4.category__title
				| Newest
				a.topcoat-button.pull-right(href='/assets/all') See all
			ul.item-container.container--newest
				- assets.forEach(function (asset) {
					li
						h4= asset.asset.title
						p comment
						a.topcoat-button--cta(href='/assets/' + asset.asset.listingId + '/purchase') Buy
				- })