extends layout

block content
	.container
		h1 Welcome to the WebPayments Marketplace
		p
			| This application is implemented using
			ul
				li Mozilla Persona
				li WebPayments
				li PaySwarm
		p You should <a href="/login">sign up</a> for an account and give it a try
		.category
			h4.category__title
				| Newest
				button.topcoat-button.pull-right See all
			ul.item-container.container--newest
				li
					h4 Item name
					p Item description
					button.topcoat-button--cta Buy
				li
					h4 Item name
					p Item description
					button.topcoat-button--cta Buy
				li
					h4 Item name
					p Item description
					button.topcoat-button--cta Buy
				li
					h4 Item name
					p Item description
					button.topcoat-button--cta Buy