extends layout

block content
	.container
		.well.padding5
			h4 Welcome to the WebPayments Marketplace
			p: small: em This is a demo application showcasing <a href="https://payswarm.com/">Payswarm</a>, the worlds first open, Universal Payment Standard for the Web
			p: small: em The application is implemented using <a href="https://github.com/digitalbazaar/payswarm.js/">payswarm.js</a>
			- if (!user)
				p You should <a href="/login">sign up</a> for an account and give it a try
				- if (registered=='false')
					form(action='/payswarm/register', method='POST')
					h4 You are not registered yet
					input(type='hidden', value=publicKey, name='publicKey')
					button.topcoat-button(type='submit', value='submit', name='submit') Click here to register with Payswarm
			- else
				p.bubble--info: small: em Unless you have an account set up with us all purchases will be made through the payswarm authority
	.container
		hr
		.category
			ul.tab-bar
				li.topcoat-button Newest
			ul.item-container.container--newest
				- assets.forEach(function (asset, i) {
					- url = '/assets/asset/' + asset.asset.listingId; // '/purchase';
					li
						h4: a(href='/assets/asset/' + asset.asset.listingId + '/view')= asset.asset.title
						- asset.asset.assetPreview.forEach(function (f) {
							a(href='/assets/asset/' + asset.asset.listingId + '/view'): img(src='/uploads/' + asset.asset.listingId + '_' + f)
						- })
						- if (!asset.asset.assetPreview.length)
							img(src='http://placehold.it/290x216')
						p: em= asset.listing.payee[0].comment
						p: span.price= asset.listing.payee[0].payeeRate + ' ' + asset.listing.payee[0].currency
							- if (user)
								a.pull-right.topcoat-button--cta.buy--cta(href=url + '/purchase') Buy
								a.pull-right.topcoat-button.shopping-cart(href=url + '/addtocart')
				- })
				- if (!assets.length)
					h4 No one posted anything for sale yet.
