doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/topcoat-mobile-light.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		.topcoat-navigation-bar
			.container
				.topcoat-navigation-bar__item.left.quarter.tab-bar
					li: a(class='topcoat-icon-button--quiet', href='/') Home
					li: a(class='topcoat-icon-button--quiet', href='/newasset') Sell
					li: a(class='topcoat-icon-button--quiet', href='/about') About
					//- li: input.topcoat-search-input(type='search', placeholder='search')
				.topcoat-navigation-bar__item.center.half
					h1.topcoat-navigation-bar__title= title || 'WebPayments Marketplace'
				.topcoat-navigation-bar__item.right.quarter
					a.topcoat-icon-button--quiet
						- var toggle = user ? 'visible': 'hidden'
						button.right(class='topcoat-icon-button ' + toggle, data-id=id)
							.js-handler--email.inline= user
							.topcoat-notification
							.topcoat-list__container.list--medium
								ul.topcoat-list.js-handler--asset-list
						- var toggle = user ? 'hidden': 'visible'
						a.right(class='js-handler--email js-handler--login ' + toggle, href='#'): img(src='/images/signin.png', title='Login')
		.messages
		block content
	script(src='https://login.persona.org/include.js')
	script(src='http://code.jquery.com/jquery-2.0.0b2.js')
	script(data-main='/javascripts/main', src='/javascripts/libs/require.js')