extends layout

block content
	.container
		.well.padding5
			h2 Welcome to the WebPayments Marketplace
			p.bubble--info In order to sell a product you need to login first.
			p Login is handled through Mozilla Persona. You can read more about this 
				a(href='http://www.mozilla.org/en-US/persona/') here
				|.
			img(src='http://mozorg.cdn.mozilla.net/media/img/persona/signin.png')