extends layout

block content
	.container
		h1 Thank you, your purchase is complete
		p
			| Please
			a(href='#') click here
			| to clain your purchase if the download does not start automatically
	 input(type='hidden', name='asset', value=asset)

block scripts
   script
      console.log('begin download')
